.projects {
  padding: var(--section-padding);
}

.projects h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.projects h1::after {
  content: '';
  flex: 1;
  height: 2px;
  background-color: var(--lightest-navy);
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-top: 2rem;
  gap: 1rem;
}

.project-card {
  width: 280px;
  padding: 1.5rem;
  background-color: var(--light-navy);
  border-radius: 8px;

  min-height: 250px;
  transition: background-color 0.2s ease;
}

.project-card:hover {
  background-color: var(--navy-shadow);
}
/* 
.folder-icon {
  display: inline-block;
  color: var(--green-bright);
}
.project-icons {
  display: flex;
  margin-left: 6rem;
  align-items: flex-end;
  color: var(--green-bright);
}

.project-icons a {
  color: var(--green-bright);
  display: flex;
  align-items: center;
} */
