.experience {
  padding: var(--section-padding);
}

.experience h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.experience h1::after {
  content: '';
  flex: 1;
  height: 2px;
  background-color: var(--lightest-navy);
}

.experience-container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.experience-content {
  display: flex;
  gap: 0;
  margin-top: 2rem;
  align-items: stretch;
}
.experience-buttons {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.experience-button {
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  color: var(--slate);
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2 ease;
}

.experience-button:hover {
  background-color: var(--green-tint);
  border-right: 2px solid var(--green-bright);
}

.experience-details {
  flex: 1;
  border-left: 2px solid var(--green-tint);
  padding-left: 2rem;
  min-height: 250px;
}
