/* Colours */
:root {
  --primary-color: rgb(204, 214, 246);
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: #020c1bb3;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green-bright: #64ffda;
  --green-tint: #64ffda1a;
  --yellow: #ffd166;
}

/* Font sizes */
:root {
  --font-small: 0.875rem;
  --font-body: 1rem;
  --font-large: 1.25rem;
  --font-heading-3: 1.5em;
  --font-heading-2: 2rem;
  --font-heading-1: 3rem;
}

/* Spacing */
:root {
  --spacing-small: 0.3rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-section: 5rem;
}

/* Layout */
:root {
  --section-padding: 5rem 8rem;
  --max-width: 900px;
}

/* Typography */

/* Border / radius */

:root {
  --lightest-brown: #f3c6a5;
  --dark-orange-brown: #ca641c;
  --dark-brown: #2d1606;
}
