.navbar {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    background-color: #2d1606;
    border-bottom: 1px solid #ca641c;
}

.nav-logo {
    font-size: 20px;
    font-weight:bold;
    color: #f3c6a5;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #f3c6a5;
    font-weight: 500;

}

.nav-links a:hover {
    color: #ca641c;
}