body {
  margin: 0;
  background-color: var(--navy);
  color: var(--light-slate);
  font-family: sans-serif;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
